.main {
/* Frame 293 */


box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 40px 0px;
gap: 40px;

position: absolute;
width: 2432px;
height: 121px;
left: -390px;
top: 3720.65px;

background: #F3EC33;
border: 3px solid #101010;
box-shadow: 3px 3px 0px #101010;
transform: rotate(-4deg);
}





.Give_the_gift_of_awesome{
	position: absolute;
	width: 578px;
	height: 41px;
	left: 2.79px;
	top: 39.91px;
	
	font-family: 'Subjectivity';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 41px;
	display: flex;
	align-items: center;
	
	color: #101010;
	
	transform: rotate(-4deg);

}

.Give_the_gift_of_awesome1{
	position: absolute;
	width: 578px;
	height: 41px;
	left: 619.29px;
	top: 39.91px;
	
	font-family: 'Subjectivity';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 41px;
	display: flex;
	align-items: center;
	
	color: #101010;
	
	transform: rotate(-4deg);

}

.Give_the_gift_of_awesome2{
	position: absolute;
	width: 578px;
	height: 41px;
	left: 1235.78px;
	top: 39.91px;
	
	font-family: 'Subjectivity';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 41px;
	display: flex;
	align-items: center;
	
	color: #101010;
	
	transform: rotate(-4deg);
	

}

.Give_the_gift_of_awesome3{
	position: absolute;
	width: 578px;
	height: 41px;
	left: 1852.27px;
	top: 39.91px;
	
	font-family: 'Subjectivity';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 41px;
	display: flex;
	align-items: center;
	
	color: #101010;
	
	transform: rotate(-4deg);

}

.Give_the_gift_of_awesome4{
/* We make wishes come true */


position: absolute;
width: 578px;
height: 41px;
left: 2468.76px;
top: 39.91px;

font-family: 'Subjectivity';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 41px;
display: flex;
align-items: center;

color: #101010;

transform: rotate(-4deg);
}


.Givell_Landing_Page_Desktop {
	transform-box: fill-box;
	transform-origin: 50% 50%
}
.Give_the_gift_of_awesome {
	animation: 1s linear 0s 1 normal forwards running Give_the_gift_of_awesome;
	transform-box: fill-box;
	transform-origin: 50% 50%;
	animation-iteration-count: infinite;
	
}
@keyframes Give_the_gift_of_awesome {
	0% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(-616.5px);
	}
}
.Give_the_gift_of_awesome1 {
	animation: 1s linear 0s 1 normal forwards running Give_the_gift_of_awesome;
	transform-box: fill-box;
	transform-origin: 50% 50%;
	animation-iteration-count: infinite;

}
@keyframes Give_the_gift_of_awesome1 {
	0% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(-616.5px);
	}
}
.Give_the_gift_of_awesome2 {
	animation: 1s linear 0s 1 normal forwards running Give_the_gift_of_awesome;
	transform-box: fill-box;
	transform-origin: 50% 50%;
	animation-iteration-count: infinite;

}
@keyframes Give_the_gift_of_awesome2 {
	0% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(-616.5px);
	}
}
.Give_the_gift_of_awesome3 {
	animation: 1s linear 0s 1 normal forwards running Give_the_gift_of_awesome;
	transform-box: fill-box;
	transform-origin: 50% 50%;
	animation-iteration-count: infinite;

}
@keyframes Give_the_gift_of_awesome3 {
	0% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(-616.5px);
	}
}

.Give_the_gift_of_awesome4 {
	animation: 1s linear 0s 1 normal forwards running Give_the_gift_of_awesome;
	transform-box: fill-box;
	transform-origin: 50% 50%;
	animation-iteration-count: infinite;

}
@keyframes Give_the_gift_of_awesome4 {
	0% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(-616.5px);
	}
}