.main {
box-sizing: border-box;
position: absolute;
width: 2232px;
height: 121px;
left: -203.94px;
top: 836.23px;

background: #C1F4F8;
border: 3px solid #101010;
box-shadow: 3px 3px 0px #101010;
transform: rotate(3.8deg);
}
.Give_the_gift_of_awesome{
	position: absolute;
	width: 528px;
	height: 41px;
	left: 5.37px;
	top: 39.91px;
	
	font-family: 'Subjectivity';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 41px;
	display: flex;
	align-items: center;
	
	color: #101010;
	
	transform: rotate(3.8deg);
}

.Give_the_gift_of_awesome1{
	position: absolute;
	width: 528px;
	height: 41px;
	left: 572.12px;
	top: 39.91px;
	
	font-family: 'Subjectivity';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 41px;
	display: flex;
	align-items: center;
	
	color: #101010;
	
	transform: rotate(3.8deg);
}

.Give_the_gift_of_awesome2{
	position: absolute;
	width: 528px;
	height: 41px;
	left: 1138.87px;
	top: 39.91px;
	
	font-family: 'Subjectivity';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	line-height: 41px;
	display: flex;
	align-items: center;
	
	color: #101010;
	
	transform: rotate(3.8deg);
}

.Give_the_gift_of_awesome3{
	position: absolute;
width: 528px;
height: 41px;
left: 1705.62px;
top: 39.91px;

font-family: 'Subjectivity';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 41px;
display: flex;
align-items: center;

color: #101010;

transform: rotate(3.8deg);
}


.Givell_Landing_Page_Desktop {
	transform-box: fill-box;
	transform-origin: 50% 50%
}
.Give_the_gift_of_awesome {
	animation: 1s linear 0s 1 normal forwards running Give_the_gift_of_awesome;
	transform-box: fill-box;
	transform-origin: 50% 50%;
	animation-iteration-count: infinite;
	
}
@keyframes Give_the_gift_of_awesome {
	0% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(-568px);
	}
}
.Give_the_gift_of_awesome1 {
	animation: 1s linear 0s 1 normal forwards running Give_the_gift_of_awesome;
	transform-box: fill-box;
	transform-origin: 50% 50%;
	animation-iteration-count: infinite;

}
@keyframes Give_the_gift_of_awesome1 {
	0% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(-568px);
	}
}
.Give_the_gift_of_awesome2 {
	animation: 1s linear 0s 1 normal forwards running Give_the_gift_of_awesome;
	transform-box: fill-box;
	transform-origin: 50% 50%;
	animation-iteration-count: infinite;

}
@keyframes Give_the_gift_of_awesome2 {
	0% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(-568px);
	}
}
.Give_the_gift_of_awesome3 {
	animation: 1s linear 0s 1 normal forwards running Give_the_gift_of_awesome;
	transform-box: fill-box;
	transform-origin: 50% 50%;
	animation-iteration-count: infinite;

}
@keyframes Give_the_gift_of_awesome3 {
	0% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(-568px);
	}
}